/* =================================
  Base Styles
==================================== */

body {
  background-color: #fbf9f9;
  }

h1 {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  line-height: 120px;
  font-size: 120px;
  margin: 0 0 25px 0;
  color: #606060;
  }

h2 {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  line-height: 100px;
  font-size: 60px;
  margin: 0 0 0 0;
  color: #eaceca;
  }

h3 {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  line-height: 80px;
  font-size: 23px;
  font-style: italic;
  margin: 0 0 0 0;
  color: #606060;
  }

h5 {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  line-height: 40px;
  font-size: 18px;
  font-style: italic;
  margin: 0 0 0 0;
  color: #606060;
  }

p {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  margin: 0 0 25px 0;
  color: #606060;
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
  }

ul {
  list-style-type: none;
  margin: 3;
  padding: 3;
  overflow: hidden;
  background-color: #eaceca;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  }

li {
  float: left;
  font-family: 'Josefin Sans', sans-serif;
  }

li a {
  display: block;
  color: #606060;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }

div {
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  }

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: .50px;
  width: 20%;
  color: #606060;
  }

button {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  line-height: 40px;
  font-size: 14px;
  font-style: none;
  margin: auto;
  display: block;
  background-color: #eaceca;
  }

a {
  color: #606060;
  text-decoration: none;
  }

.main-footer {
  list-style-type: none;
  margin: 3;
  padding: 3;
  overflow: hidden;
  background-color: #eaceca;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  display: block;
  color: #606060;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  height: 55px;
  }

.footer-inner {
  width: 80%;
  margin: 0 auto;
  max-width: 1150px;
  }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 960;
  height: 640;
  }

.carousel-inner img {
  margin: auto;
  }
