h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    line-height: 120px;
    font-size: 120px;
    margin: 0 0 23px 0;
    }

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    margin: 0 0 23px 0;
    }
